[user]
  name = Marek Waligórski
  email = marek@brainsandbeards.com
[alias]
  co = checkout
  st = status
  br = branch
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Cblue %an %Creset' --abbrev-commit --date=relative
  ld = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Cblue %an %Creset' --abbrev-commit --date=relative --color-words -i -p
  amend = commit --amend
  pr = pull --rebase
  date = show -s --format=%ci
  head = rev-parse HEAD

[help]
  autocorrect = 1
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
  editor = vim
  autocrlf = input
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[push]
  default = simple
[merge]
  tool = p4mergetool
[mergetool "p4mergetool"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
  trustExitCode = false
[mergetool]
  keepBackup = false
[diff]
  tool = p4mergetool
[difftool "p4mergetool"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
